<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel='stylesheet' href='css/tablesorter/theme.blue.css'>
        <link rel='stylesheet' href='css/tablesorter/jquery.tablesorter.pager.css'>
        <script src='js/libs/underscore.js/underscore-min.js'></script>
        <script src='js/libs/jquery/jquery.min.js'></script>
        <script src='js/libs/backbone.js/backbone-min.js'></script>
        <script src='js/libs/tablesorter/jquery.tablesorter.min.js'></script>
        <script src='js/libs/tablesorter/jquery.tablesorter.pager.js'></script>
        <script src='IndexClient.js'></script>
        <!-- 
        
        <script src='Idea/CategoryClient.js'></script>
        
        -->
    </head>
    <body>
        <div id='create'></div>

        <table id='datatable' class='tablesorter-blue'>
        </table>
        <div class='pager' id='pager'>
            <img src='img/tablesorter/first.png' class='first' alt='First'/>
            <img src='img/tablesorter/prev.png' class='prev' alt='Prev'/>
            <span class='pagedisplay'></span> <!-- this can be any element, including an input -->
            <img src='img/tablesorter/next.png' class='next' alt='Next'/>
            <img src='img/tablesorter/last.png' class='last' alt='Last'/>
            <select class='pagesize'>
                <option selected='selected' value='10'>10</option>
                <option value='20'>20</option>
                <option value='30'>30</option>
                <option value='40'>40</option>
            </select>
        </div>
        <br>

        <div id='details'></div>


        <!-- Templates -->
        <script type='text/template' id='tpl-create'>
            <!--
            Put your controls to create new entity here.

            Class 'new' is used to listen on events in JS code.
            -->
            <button class='new'>Create</button>
        </script>

        <script type='text/template' id='thead'>
            <thead>
            <tr>
            <th>title</th>
            <th>description</th>
            <th>category</th>
            <th>owner</th>
            </tr>
            </thead>
        </script>
        <script type='text/template' id='tpl-idea-list-item'>
            <td><a href='#<%= id %>'><%= title %></a></td>
            <td><%= description %></td>
            <td><%= category %></td>
            <td><%= owner%></td>
        </script>

        <script type='text/template' id='tpl-idea-details'>
            <div>
            <table>
            <tbody>
            <tr><td></td>
            <input type='hidden' id='id' name='id' value='<%= id%>'/></td></tr>
            <tr><td>Title</td>
            <td><input type='text' id='title' name='title' value='<%= title %>'/></td></tr>
            <tr>
            <td>Description</td>
            <td><input type='text' id='description' name='description' value='<%= description %>'/></td></tr>
            <tr>
            <td>Category</td>
          <td><input type='text' id='category' name='category' value='<%= category %>'/></td></tr>
            <tr>
            <td>owner</td>
            <td><input type='text' id='owner' name='owner' value='<%= owner %>'/></td></tr>
            </tbody>
            </table>
            <!--
            Put your controls to create new entity here.
            Classes 'save' and 'delete' are used to listen on events in JS code.
            -->
            <button  class='save'>Save</button>
            <button  class='delete'>Delete</button>
            </div>
        </script>

        <!-- CATEGORY COMBO BOX -->
        <script type='text/template' id='tpl-category-list-item'>
            <option id='#<%= id %>'><%= name %></option>
        </script>

        <script type='text/template' id='category_tpl-create'>
        </script>
        <script type='text/template' id='category_tpl-details'>
        </script>                

    </body>
</html>
