<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="../js/libs/bootstrap/css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="../js/libs/bootstrap/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="../css/main.css">

        <script src='../js/libs/underscore.js/underscore-min.js'></script>
        <script src='../js/libs/jquery/jquery.min.js'></script>
        <script src='../js/libs/backbone.js/backbone-min.js'></script>
        <script src='../js/libs/tablesorter/jquery.tablesorter.min.js'></script>
        <script src='../js/libs/tablesorter/jquery.tablesorter.pager.js'></script>
        <script src='../js/custom/CreateUser.js'></script>
    </head>

    
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Great Business Ideas!</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="../index.html">Home</a></li>
                    </ul>
                </div><!--/.navbar-collapse -->
            </div>
        </div>
        <hr>
        <!--[if lt IE 7]>
         <p class="chromeframe">You are using an <strong>outdated</strong> browser. 
Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a 
href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> 
to improve your experience.</p>
     <![endif]-->

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
            <legend> Sign up!</legend>
        <div id='details'></div>

        </div>
    </div>
</div>
        <!-- Templates -->
        <script type='text/template' id='tpl-user-create'>
            <!--
            Put your controls to create new entity here.

            Class 'new' is used to listen on events in JS code.
            -->
            <button class='new'>Create</button>
        </script>

        <script type='text/template' id='thead'>
//            <thead>
//            <tr>
//            <th>name</th>
//            <th>lastname</th>
//            <th>email</th>
//            <th>password</th>
//            <th>role </th>
//            </tr>
//            </thead>
        </script>

          <script type='text/template' id='tpl-user-list-item'>
<!--              <td><a href='#<%= id %>'><%= name %></a></td>
              <td><%= lastname %></td>
              <td><%= email %></td>
              <td><%= password%></td>
              <td><%=role%></td>-->
          </script>
        <script type='text/template' id='tpl-user-details'>
            <div lass="form-group">
            <tr>
            <input type='hidden' id='id' name='id' value='<%= id%>'/></td></tr>
            <tr><td>
            <label class="col-sm-2 control-label">Name:</label>
            <input class="form-control" placeholder="First Name"type='text' id='name' name='name' value='<%= name %>'/></td></tr>
            <tr>
            <label class="col-sm-2 control-label">Lastname:</label>
            <input class="form-control" placeholder="Lastname" type='text' id='lastname' name='lastname' value='<%= lastname %>'/></t>
            <tr>
            <label class="col-sm-2 control-label">Email:</label>
            <input class="form-control" placeholder="Email" type='text' id='email' name='email' value='<%= email %>'/></tr>
            <tr>
            <label class="col-sm-2 control-label">Password:</label>
            <input class="form-control" placeholder="Password" type='password' id='password' name='password' value='<%= password %>'/></tr>
            <input type='hidden' id='role' name='role' value='<%= role %>'/>
            <!--
            Put your controls to create new entity here.
            Classes 'save' and 'delete' are used to listen on events in JS code.
            -->
            <button  class='save btn btn-primary'>Register!</button>
            </div>
        </script>

    </body>
</html>

