<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Create an Idea</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <!-- Css Files depend-->

        <link rel="stylesheet" href="../js/libs/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../js/libs/bootstrap/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="../css/createIdea.css" type="text/css"/>



        <script src='../js/libs/underscore.js/underscore-min.js'></script>
        <script src='../js/libs/jquery/jquery.min.js'></script>
        <script src='../js/libs/backbone.js/backbone-min.js'></script>
        <script src='../Idea/CategoryClient.js'></script>
<!--        <script src='../IndexClient.js'></script>-->
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-file">
                                        </span>Create a new Idea</a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Title" required />
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control" placeholder="Content" rows="5" required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group" id='category_datatable'>
                                                <label for="category">
                                                    Category</label>

                                                <select class="form-control" id="category">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="well well-sm well-primary">
                                                <form class="form form-inline " role="form">
                                                    <div class="form-group">
                                                    </div>
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-success btn-sm">
                                                            <span class="glyphicon glyphicon-floppy-disk"></span>Save</button>
                                                        <button type="button" class="btn btn-default btn-sm">
                                                            <span class="glyphicon glyphicon-eye-open"></span>Preview</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Templates of Category-->
<!--        <div class="form-group" id="datatable">
            <label for="category">Category</label>
            <select class="form-control" id="category_">
            </select>
        </div>-->
<!--        <div  class="form-group" id='category_datatable'>
        </div>-->

        <script type='text/template' id='tpl-category-list-item'>

            <option  id='#<%= id %>'><%= name %></option>
        </script>

        <script type='text/template' id='category_tpl-create'>
        </script>
        <script type='text/template' id='tpl-category-details'>
        </script> 
        
        
<!--        <div id='details'></div>-->


        <!-- Templates Create Idea-->
        
    </body>
</html>
